################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Debug/WaveSum_Cpp.tlog
/.vs/WaveSum_Cpp/v16
/WaveSum_Cpp.sln
/WaveSum_Cpp.vcxproj
/WaveSum_Cpp.vcxproj.filters
/WaveSum_Cpp.vcxproj.user
/Debug
